<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PIMM -->
      <package
            uri="http://pdf.pim.model"
            class="PIMM.PIMMPackage"
            genModel="model/PIMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PSMM -->
      <package
            uri="http://pdf.psm.model"
            class="PSMM.PSMMPackage"
            genModel="model/PSMM.genmodel"/>
   </extension>

</plugin>
